NODE_ENV=dev
DAYS=1
LIMIT=50
CHANNEL_TO_SEND=me
API_ID=1234567
API_HASH=your_api_hash
PHONE_NUMBER_ME=+380123456789
PHONE_CODE_ME=
STRING_SESSION_STR=
CHANNELS=channel1,channel2
KEYWORDS=слово1,слово2
KEYWORDS2=слово3,слово4
BAN_WORDS=банслово1,банслово2
